header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.header-logo {
  width: 150px;
}

.header-list {
  color: #696969;
}

.header-list ul {
  display: flex;
}

.header-list li:not(:last-of-type) {
  margin-right: 25px;
}

.header-list a {
  text-decoration: none;
  color: inherit;
}

.firstview {
  position: relative;
}

h1 {
  position: absolute;
  top: 15%;
  left: 20%;
  font-family: "Indie Flower", cursive;
  color: #c72158;
  font-size: 65px;
  line-height: 100px;
}

.firstview-message-span {
  color: #20b2aa;
}

.firstview-message2 {
  font-size: 22px;
  font-weight: bold;
  color: #c72158;
  position: absolute;
  top: 58%;
  left: 20%;
}

.firstview-message2-span {
  color: #20b2aa;
}

.firstview-company {
  position: absolute;
  top: 65%;
  left: 20%;
  line-height: 25px;
  color: #696969;
}

.firstview-img {
  display: block;
  width: 60%;
  margin: 0 0 0 auto;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: #696969;
  position: relative;
}

.t-news {
  margin-top: 100px;
}

.t-news::before {
  content: "News";
  font-family: "Indie Flower", cursive;
  color: indianred;
  font-size: 18px;
  position: absolute;
  top: -30px;
}

.news {
  width: 55%;
  margin: 0 auto;
}

.title-news {
  margin-top: 100px;
}

.news-contents {
  border-top: solid 2px #f3f0f0;
  border-bottom: solid 2px #f3f0f0;
  padding: 20px 0;
  margin-top: 15px;
}

.news-content {
  border-bottom: solid 1px #f3f0f0;
  padding: 10px 0;
}

.news-content-date {
  color: #696969;
  display: inline-block;
  margin-right: 20px;
}

.news-content-tag {
  color: white;
  font-size: 14px;
  background-color: #c72158;
  display: inline-block;
  border-radius: 10px;
  padding: 2px 10px;
  margin-right: 20px;
}

.news-content-title {
  color: #696969;
  display: inline-block;
}

.about {
  background: #f3f0f0;
  padding: 70px 0 50px 0;
  margin-top: 50px;
}

.t-about {
  text-align: center;
}

.t-about::before {
  content: "About";
  font-family: "Indie Flower", cursive;
  color: indianred;
  font-size: 18px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.about-content {
  width: 68%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 40px auto 0;
}

.title-about {
  text-align: center;
  color: #696969;
}

.img-about {
  width: 40%;
}

.about-text-content {
  width: 41%;
  line-height: 25px;
}

.service {
  width: 68%;
  margin: 70px auto 0;
}

.t-service::before {
  content: "Service";
  font-family: "Indie Flower", cursive;
  color: indianred;
  font-size: 18px;
  position: absolute;
  top: -30px;
}

.service-content {
  width: 100%;
  display: grid;
  grid-template-rows: 190px 190px;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.service-content1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #c72158;
  position: relative;
}

.service-content1-img {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.service-content1-title {
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-content1-text {
  color: white;
  line-height: 25px;
  width: 80%;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, 0);
}

.service-content2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: rgb(199, 109, 176);
  position: relative;
}

.service-content2-img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.service-content2-title {
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 165px;
}

.service-content2-text {
  color: white;
  line-height: 25px;
  width: 60%;
  position: absolute;
  top: 80px;
  left: 165px;
}

.service-content3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: rgb(194, 141, 165);
  position: relative;
}

.service-content3-img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.service-content3-title {
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 165px;
}

.service-content3-text {
  color: white;
  line-height: 25px;
  width: 60%;
  position: absolute;
  top: 80px;
  left: 165px;
}

.title-wrapper {
  width: 68%;
  margin: 0 auto;
}

.blog {
  background-color: #f3f0f0;
  margin-top: 100px;
  padding: 70px 0 50px 0;
}

.blog-container {
  width: 68%;
  margin: 0 auto;
}
.t-blog::before {
  content: "Blog";
  font-family: "Indie Flower", cursive;
  color: indianred;
  font-size: 18px;
  position: absolute;
  top: -30px;
}

.blog-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  width: 30%;
}

.blog-img {
  width: 100%;
  display: block;
  border-radius: 15px 15px 0 0;
}

.blog-img-before {
  position: relative;
}

.blog-img-before::before {
  content: "Blog";
  background-color: #c72158;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 0 0 0;
  padding: 10px 20px;
}

.card-content {
  background-color: white;
  color: #696969;
  padding: 25px 17px;
  border-radius: 0 0 15px 15px;
}

.blog-title {
  font-weight: bold;
  line-height: 25px;
}

.blog-date-tag {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.blog-date {
  display: inline-block;
}

.blog-tag {
  display: inline-block;
}

.blog-list {
  display: block;
  text-decoration: none;
  color: #c72158;
  width: 180px;
  border: solid 2px #c72158;
  border-radius: 50px;
  background-color: white;
  padding: 25px;
  margin: 50px auto 0;
  text-align: center;
}

.company {
  width: 52%;
  margin: 80px auto 0;
}

.t-company::before {
  content: "Company";
  font-family: "Indie Flower", cursive;
  color: indianred;
  font-size: 18px;
  position: absolute;
  top: -30px;
}

.company-info {
  width: 100%;
  color: #696969;
  margin: 30px auto 0;
}

.company-info th {
  width: 30%;
  background-color: #f3f0f0;
  text-align: left;
}

.company-info th,
td {
  border: solid 1px #dad5d5;
  padding: 18px;
}

.recruit-interview {
  display: flex;
  margin-top: 100px;
}

.recruit {
  width: 60%;
  position: relative;
}

.recruit-img {
  width: 100%;
}

.recruit-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interview {
  width: 60%;
  position: relative;
}

.interview-img {
  width: 100%;
}

.interview-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  height: auto;
}

.contact-text {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  color: #696969;
  font-weight: bold;
}

.contact-bar {
  width: 0px;
  height: 40px;
  border: solid 1px #c72158;
  margin: 20px auto;
}

.contact-btn {
  text-decoration: none;
  background: linear-gradient(90deg, #e92da1, #c72158);
  color: white;
  border-radius: 40px;
  width: 280px;
  padding: 30px 0;
  box-shadow: 0 10px darkred;
  display: block;
  margin: 0 auto 80px;
  text-align: center;
  position: relative;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;

  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}

footer {
  background-color: #f3f0f0;
  padding: 25px;
  text-align: center;
}

small {
  color: #696969;
  font-size: 14px;
}
